<a href="https://colab.research.google.com/github/r12senthil/HealthCare_Analysis/blob/master/TweetAPIsample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Resources
#Want to learn more about using Python to access the Twitter API? Try checking out a course like Byte-Sized-Chunks: Twitter Sentiment Analysis in Python for a deeper dive in to using the Twitter API for data science projects with Python.

In [4]:
!pip install twython

Collecting twython
  Downloading https://files.pythonhosted.org/packages/8c/2b/c0883f05b03a8e87787d56395d6c89515fe7e0bf80abd3778b6bb3a6873f/twython-3.7.0.tar.gz
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from twython) (2.21.0)
Requirement already satisfied: requests_oauthlib>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from twython) (1.2.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (2019.3.9)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests_oauthlib>=0.4.0->twython) (3.0.1)
Building wheels for collected packages: twython
  Building wheel for twython (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/c2/b0/a3/5c4b4b87b8c9e4d99f1494a0b471f0134a74e5fb33d426d009
Successfully built twython
Installing collected packages: twython
Successfully installed twython-3.7.0

In [0]:
from twython import Twython
import json

In [0]:
python_tweets = Twython('Zyrg','aP1Dm')

In [0]:
query = {'q': 'Data Science',  
        'result_type': 'popular',
        'count': 10,
        'lang': 'en',
        }

In [13]:
import pandas as pd

# Search tweets
dict_ = {'user': [], 'date': [], 'text': [], 'favorite_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict_['user'].append(status['user']['screen_name'])
    dict_['date'].append(status['created_at'])
    dict_['text'].append(status['text'])
    dict_['favorite_count'].append(status['favorite_count'])

# Structure data in a pandas DataFrame for easier manipulation
df = pd.DataFrame(dict_)  
df.sort_values(by='favorite_count', inplace=True, ascending=False)  
df

,user,date,text,favorite_count
5,KirkDBorne,Sun May 05 20:19:34 +0000 2019,⚡️10-page (PDF) #DataScience Cheat Sheet cover...,947
7,chrisalbon,Wed May 08 23:40:10 +0000 2019,When companies require PhDs for data science j...,920
4,nytimes,Sat May 04 03:30:05 +0000 2019,The science of studying the data stored in tre...,534
8,HarvardBiz,Wed May 08 15:04:41 +0000 2019,Leadership isn’t an exact science. We need to ...,261
1,KirkDBorne,Sat May 11 00:05:44 +0000 2019,Comprehensive Repository of #DataScience and #...,164
6,royalsociety,Thu May 09 06:00:08 +0000 2019,The Royal Society has found that the UK is a w...,111
9,NvidiaAI,Thu May 09 12:07:01 +0000 2019,"Today at #RHSummit, NVIDIA and @RedHat introdu...",94
2,Azure,Sat May 11 11:00:00 +0000 2019,Learn about the data science and #MachineLearn...,57
0,DrPhilGoff,Sat May 11 15:42:14 +0000 2019,We’re hiring! If you are interested in data sc...,35
3,NatGeoMag,Sun May 12 10:00:06 +0000 2019,Science is getting a boost in China. Research ...,24